
    .content {
        background-color: #F96900;
        margin: 0px;
        padding: 0px;
        height: auto;
        font-family: "Playfair Display";
        margin-top: 50px;
        width: auto;
      }

